<div class="container px-4 px-lg-5">
  <h1>購入明細(一覧)</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">購入日</th>
        <th scope="col">購入ユーザー</th>
        <th scope="col">地域</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @bill.each_with_index do |o, i| %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= o.created_at.strftime('%Y/%m/%d')%></td>
        <td><%= o.user_name %></td>
        <td><%= o.region %></td>
        <td><%= link_to '詳細',order_path(o) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 </div> 
